.chatbox-you {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.chatbox-me {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

.chatbox-you, .chatbox-me, .send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

.send-message {
    grid-column: 2 / 4;
    grid-row: 9 / 10;
}

.send {
    margin: 10px;
}