.photo {
    grid-column: 2 / 3;
    display: flex;
    grid-row: 3 / 6;
    align-items: center;
    justify-content: center;
}

.photo-styling {
    max-width: 50vw;
    padding: 10px;
    display: flex;
}

.name {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    grid-column: 2 / 3;
    grid-row: 2 / 9;
    border: 2px solid black;
    border-radius: 20px;
}

.bio {
    padding-top: 10px;
    max-width: 60vw;
    grid-column: 2 / 3;
    grid-row: 7 / 9;
    font-size: 15px;
    padding: 10px;
}

.swipe-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2 / 3;
    grid-row: 9 / 10;
}